// Bourbon autoloaded by CodeKit
// http://bourbon.io
@import 'bourbon';

// Font families
$serif: freight-text-pro, Georgia, serif;
$sans-serif: freight-sans-pro, sans-serif;
$monospace: Menlo, Consolas, monospace, serif;

// Natural box layout model to all elements
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	@include box-sizing(border-box);
}

// General elements
html {
	// http://snook.ca/archives/html_and_css/font-size-with-rem
	font: 62.5%/1.25 $serif; // 10px
}
body {
	margin: 0 auto;
	padding: 1em;
	max-width: 60em;
	font-size: 2.4rem;
}
a:visited {
	color: purple;
}
a:hover,
a:focus {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
}
h1 {
	margin: 0;
	font-size: 6rem;
	line-height: 1;
}
pre,
code {
	font-family: $monospace;
	font-size: 1.8rem;
}
pre {
	background: #f2f4ec;
}
h1 code,
h2 code,
h3 code {
	font-size: 0.8em; // Scale proportionally to heading font-size
}

// Article
.post .date {
	font-size: 0.83333em;
	color: #666;
	text-align: right;
}
.post .body p {
	max-width: 40em;
}

// Footer
body > footer {
	font-size: 0.83333em;
	color: #666;
	text-align: right;
	p {
		margin: 0;
	}
}

// Media queries
@media only screen and (max-width: 960px) {
	html {
		font-size: 56.25%; // 9px
	}
}
@media only screen and (max-width: 600px) {
	html {
		font-size: 50%; // 8px
	}
}

// Styles for print
@media print {
	@import 'print';
}
